<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jibase">

    <application android:name=".BaseApp">
        <activity
            android:name=".permission.RequestPermissionActivity"
            android:theme="@style/style_transparent" />
    </application>
</manifest>
